@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

.testimonial-scroller {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}